// Colors
$primaryColor: #c9cba3;
$primaryColorOverlay: #c9cba385;
$primaryDark: #c9cba3;
$primaryLight: #dddfc58a;
$primaryAlt: #c9cba3;
$secondaryColor: #ffe1a8;
$secondaryColorOverlay: #ffe1a86b;
$secondaryDark: #ffe1a8;
$secondaryLight: #ffe1a8;
$accentColor: #e26d5c;
$accentColorOverlay: #e26e5c54;
$accentDark: #e26d5c;
$accentLight: #e26d5c;
$accentComplementary: #723d46;
$accentCompDark: #211214;
$accentCompLight: #723d46;
$titlesColor: #333333;
$textColor: #999999;
$grayColor: #bbbbbb;
$backgroundColor: #f0f1f4;
$whiteColor: #ffffff;
$blackColor: #472d30;
$strongShadow: 0px 2px 5px 3px rgba(138, 138, 138, 1);

// Loading animation colors
$lodingBackground: #999999;
$loadingColor: linear-gradient(90deg, rgba(73,73,73,0) 0%, rgba(97,100,116,0.7721288344439339) 48%, rgba(107,107,107,0) 100%);


/* Margin for header content */
$marginHeaderLeft: 25px;
$marginHeaderRight: 25px;