@import '../../styles/variables';

.container{
    padding: 10px;
    margin: 10px;
    background-color: $primaryLight;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h1{
        width: 100%;
        margin: 0 auto 10px auto;
        text-align: center;
        font-weight: 600;
        color: $accentComplementary;
    }
    p{
        color: rgb(82, 81, 81);
    }
    img{
        width: 100%;
        object-fit: contain;
        margin-bottom: 10px;
        max-height: 300px;
    }
    .price{
        margin-top: 10px;
    }
    .colorsContainer{
        padding: 0;
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .color{
        height: 30px;
        width: 30px;
        min-height: 30px;
        min-width: 30px;
        border-radius: 100px;
        margin: 5px 10px;
    }
    .buttonContainer{
        background-color: $secondaryColor;
        border-radius: 100px;
        width: 70%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
        margin-top: 30px;
        a{
            color:$accentCompDark
        }
    }
}